<%- include('./layout/header')  %> 

<body>
    <h2>Add Your Own Recipe</h2>
    <form action="/addedRecipes" method="POST">
        <label for="UserName">Recipe Owner</label>
        <input type="text" name="UserName">
        <label for="RecipeName">Recipe Name</label>
        <input type="text" name="RecipeName">
        <label for="RecipeDetails">Recipe Instructions</label>
        <input type="text" name="RecipeDetails">
        <label for="img_url">Add image</label>
        <input type="url" name="img_url" placeholder="Insert url">
        <button type="submit"> Add Recipe</button>
    </form>

    <div id="addedRecipies">
        
        <%userRecipe.map(data=>{ %>
        <h3><%= data.username   %>  </h3> 
        <img src="<%= data.img_url   %> "/> 
        <h4><%= data.recipename %>  </h4>
        <p><%=  data.recipedetails   %> </p>
        <% }); %>
    </div>

</body>
</html>