<%- include('./layout/header')  %> 
<link rel="stylesheet" href="/styles/nutrients.css">


<div class="result">
    <% nutrients.forEach(element=>{ %>
        <h3>
            <%= element.title %>
        </h3>
        <img src="<%= element.image%> " alt="">
        <p>
            calories : <%= element.calories %>
        </p>
        <p>
            protein : <%= element.protein %>

        </p>
        <p>
            fat : <%= element.fat %>
        </p>
        <p>
            carbs : <%= element.carbs %>
        </p>
        <% }) %>
</div>

<%- include('./layout/footer')  %> 