<link rel="stylesheet" href="/styles/GuessStyle.css">
 
    <main>


        <div class="reslut">

            <p>

                Min calories : <%=dish.calories.min%> per 100g.
                    Max calories : <%=dish.calories.max%> per 100g
            </p>
            <br />
            <p>
                Min carbs : <%=dish.carbs.min%> per 100g.
                    Max carbs <%=dish.carbs.max%> per 100g.

            </p>
            <br />
            <p>
                Min fat : <%=dish.fat.min%> per 100g.
                    Max fat : <%=dish.fat.max%> per 100g.

            </p>
            <br />
            <p>
                Min protein : <%=dish.protein.min%> per 100g.
                    Max protein : <%=dish.protein.max%> per 100g.

            </p>
            <br />
            <br />

        </div>
































































        <br>
























































    </main>

    <%- include('./layout/footer')  %> 

</body>


</html>