<%- include('./layout/header')  %> 
<link rel="stylesheet" href="/styles/GuessStyle.css">
 
    <main>


        <div class="reslut">
            <h3>Calories</h3>
            <p>

                Min  : <%=dish.calories.min%> per 100g.
                   
            </p>
            <p>
                Max  : <%=dish.calories.max%> per 100g
            </p>
            <br />
            <h3>Carbs</h3>
            <p>
                Min carbs : <%=dish.carbs.min%> per 100g.
                   

            </p>
            <p> Max carbs <%=dish.protein.max%> per 100g.</p>
            <br />
            <h3>Fat</h3>
            <p>
                Min fat : <%=dish.protein.min%> per 100g.
                  

            </p>
            <p>  Max fat : <%=dish.fat.max%> per 100g.</p>
            <br />
            <h3>Protein</h3>
            <p>
                Min protein : <%=dish.protein.min%> per 100g.
                    

            </p>
            <p>Max protein : <%=dish.protein.max%> per 100g.</p>
            <br />
            <br />

        </div>
































































        <br>
























































    </main>

    <%- include('./layout/footer')  %> 

</body>


</html>