
 
    <main>


        <div class="reslut">
           
                <p>
                    
                    <%=dish.calories.min%>
                    <%=dish.calories.max%>
                </p>
                <br />
                <p>
                    <%=dish.carbs.min%>
                    <%=dish.carbs.max%>
                   
                </p>
                <br />
                <p>
                    <%=dish.fat.min%>
                    <%=dish.fat.max%>
                
                </p>
                <br />
                <p>
                    <%=dish.protein.min%>
                    <%=dish.protein.max%>
              
                </p>
                <br />
                <br />
               
        </div>































































        <br>
























































    </main>


    <footer>
        <ul class="footerli">
            <li> <a href="https://www.yahoo.com"><i class="fas fa-envelope-square fig"></i></a></li>
            <li> <a href="https://www.twitter.com"><i class="fab fa-twitter fig"></i></a></li>
            <li> <a href="https://www.github.com"><i class="fab fa-github-alt fig"></i></a></li>
            <li> <a href="https://www.linkedin.com"><i class="fab fa-linkedin fig"></i></a></li>
        </ul>
        <p>Copy rights are reserved by AMIGOS &copy;</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src='/js/app.js'></script>
</body>


</html>