
 
    <main>


        <div class="reslut">
           
                <p>
                    
                    <%=dish.calories.min%>
                    <%=dish.calories.max%>
                </p>
                <br />
                <p>
                    <%=dish.carbs.min%>
                    <%=dish.carbs.max%>
                   
                </p>
                <br />
                <p>
                    <%=dish.fat.min%>
                    <%=dish.fat.max%>
                
                </p>
                <br />
                <p>
                    <%=dish.protein.min%>
                    <%=dish.protein.max%>
              
                </p>
                <br />
                <br />
               
        </div>































































        <br>
























































    </main>

    <%- include('./layout/footer')  %> 

</body>


</html>