<%- include('./layout/header')  %> 

<link rel="stylesheet" href="/styles/showRecipe.css">


<body>
    
    <main>

        <div class="reslut">
            <%recipe.map(data=>{%>
                <div class="cardDiv">
                <p class="ingr">
                    <%=data.ingridiant%>
                </p>

                <br />
                <p>
                    <img src="<%=data.image%>" alt=""  class="imgDiv"/>
                </p>
                <br />
                <p class="text">
                   <span>Summary :</span>  <%=data.summary %>
                </p>
                <br />
                <p class="text">

                 <span> Instruction :</span>  <%=data.instruction%>
                </p>
                <br />
                <br />
            </div>
                <%});%>
           
            </div>

    </main>

    <footer>
        <!-- <ul class="footerli">
            <li> <a href="https://www.yahoo.com"><i class="fas fa-envelope-square fig"></i></a></li>
            <li> <a href="https://www.twitter.com"><i class="fab fa-twitter fig"></i></a></li>
            <li> <a href="https://www.github.com"><i class="fab fa-github-alt fig"></i></a></li>
            <li> <a href="https://www.linkedin.com"><i class="fab fa-linkedin fig"></i></a></li>
        </ul> -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src='/js/app.js'></script>
</body>


</html>